@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import "_variable";
@import "_mixin";

.body__container {
  height: 100vh;
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 10vh 90vh;
  background: $white;
  gap: 1px;
  overflow: hidden;
  & > * {
    background: $background;
  }
  header {
    grid-column: span 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    font-size: $M-font;
    font-weight: $L-weight;
    color: $white;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
    & > ul {
      & > li {
        text-align: center;
        &:first-child {
          margin-bottom: 30px;
        }
        .on {
          height: 110px !important;
        }
        .drop-down-btn,
        button {
          background: none;
          outline: none;
          border: none;
          font-size: $S-font;
          color: $white;
          border-bottom: 1px solid $background;
          line-height: 1.5;
          &:hover {
            cursor: pointer;
            border-bottom: 1px solid $white;
          }
          &+.drop-down {
            height: 0;
            transition: all .5s;
            overflow: hidden;
            ul {
              margin-top: 10px;
              text-align: right;
              * {
                border-bottom: 1px solid $background;
                margin-bottom: 5px;
                line-height: 1.5;
                font-size: $XS-font;
                color: $gray;
                &:hover {
                  cursor: pointer;
                  border-bottom: 1px solid $white;
                }
              }
            }
          }
        }
      }
    }
  }
  main {
    position: relative;
    
  }
}